<div class="thp_home">
	<div class="icon-bar">
	  <a href="https://www.facebook.com/thehackingproject/" class="facebook"><i class="fab fa-facebook-square"></i></a> 
	  <a href="https://twitter.com/the_hacking_pro" class="twitter"><i class="fab fa-twitter"></i></a> 
	  <a href="https://www.linkedin.com/company/the-hacking-project" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
	  <a href="https://www.youtube.com/channel/UCFWng8WJ-Xaee2fs0a4dcvQ" class="youtube"><i class="fab fa-youtube"></i></i></a> 
	</div>

	<!-- CORPS DE LA PAGE -->

	<section class="container-fluid first_section">
		<%= image_tag "cafe.jpg" %>
		<p class="centered">
			Apprendre à coder en 3 mois<br>
			c'est possible
		</p>
		<button class="btn btn-warning text_button centered_bottom">En savoir plus</button>	
	</section>

	<section class="container-fluid second_section">
		<div class="row space">
			<div class="col-lg-offset-3 col-lg-6">
				<h1>The Hacking Project</h1>
				<p class="text_second_section">
				The Hacking Project est une jeune pousse qui souhaite apporter à tous les compétences necessaires pour le monde de demain. Nos formations se déroulent du lundi au vendredi de 9h à 20h pendant 2 mois 1/2. Chez nous, pas de professeurs, pas de locaux.
				</p>
			</div>
		</div>
	</section>

	<div class="thp">
	    <div class="container">
	    	<div class="row">
	    		<h1 class="title text-center">Nos atouts</h1>
	    	</div>
	    	<div class="row">
	            
	            <div class="col-lg-3">
	                <div class="card">
	                    <%= image_tag "computer.jpg" %>
	                    <h4 class="title text-center">peer_learning</h4>
	                    <p class="text-justify">Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp.</p>
	                </div>
	            </div>
	        
	            <div class="col-lg-3">
	                <div class="card">
	                    <%= image_tag "night-computer.jpg" %>
	                    <h4 class="title text-center">Communauté</h4>
	                    <p class="text-justify">Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp.</p>
	                </div>
	            </div>
	        
	            <div class="col-lg-3">
	                <div class="card">
	                    <%= image_tag "desk.jpg" %>
	                    <h4 class="title text-center">gratuit</h4>
	                    <p class="text-justify">Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp.</p>
	                </div>
	            </div>

	            <div class="col-lg-3">
	                <div class="card">
	                    <%= image_tag "code.jpg" %>
	                    <h4 class="title text-center">Apprendre autrement</h4>
	                    <p class="text-justify">Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, qui Tarquinium Superbum, qui Sp. Cassium, Sp.</p>
	                </div>
	            </div>
	        
			</div>
	    </div>
	</div>


	

	<footer class="container-fluid">
		<div class="row info_footer">

				Ce site à été réalisé par deux élèves de THP après seulement quelques semaines d'apprentissage.
	
		</div>
	</footer>
</div>